[mysqld]
# Character set / collation
character-set-server = utf8mb4
collation-server     = utf8mb4_0900_ai_ci

# Timezone
default-time-zone    = +09:00

# Engine & misc
default_storage_engine = InnoDB
explicit_defaults_for_timestamp = ON

# Performance/dev-friendly
max_connections = 200
innodb_flush_log_at_trx_commit = 1
binlog_expire_logs_seconds = 0

[client]
default-character-set = utf8mb4
